/* style.css,
tạo file này ngang hàng với file .html */
/* body {
	background: #ccc;
} */
.container {
    /* background: red; */
    width: 50%;
    margin: 0 auto;
    border: 1px solid #000;
}

.header {
    background: #666666;
}

/* trình duyệt đã tự css 1 số thuộc tính mặc cho thẻ
, nên cần check kỹ sự ảnh hưởng này */
.heading {
    margin: 0;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.row {
    display: flex;
}
/* sau khi set display:flex cho khối cha,
 thì cần set with cho các khối con; */
.menu {
    width: 40%;
}

.content {
	width: 60%;
}